# Intro to lance

In [5]:
import duckdb
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.dataset
import shutil
import lance

In [8]:
df = pd.DataFrame({"a": [5]})

In [9]:
dataset = lance.write_dataset(df, "tmp/test_lance")

In [10]:
dataset.to_table().to_pandas()

   a
0  5

### Append to table

In [12]:
df = pd.DataFrame({"a": [10]})
tbl = pa.Table.from_pandas(df)
dataset = lance.write_dataset(tbl, "tmp/test_lance", mode="append")

In [13]:
dataset.to_table().to_pandas()

    a
0   5
1  10

### Overwrite table

In [14]:
df = pd.DataFrame({"a": [1, 2]})
tbl = pa.Table.from_pandas(df)
dataset = lance.write_dataset(tbl, "tmp/test_lance", mode="overwrite")

In [15]:
dataset.to_table().to_pandas()

   a
0  1
1  2

## Lance has schema enforcement

If you try to append data with a different schema, it will error out

In [16]:
df = pd.DataFrame({"c": [66]})
tbl = pa.Table.from_pandas(df)
dataset = lance.write_dataset(tbl, "tmp/test_lance", mode="append")

OSError: Append with different schema:

## Lance has versioned data

In [19]:
lance.dataset('tmp/test_lance', version=1).to_table().to_pandas()

   a
0  5

In [20]:
lance.dataset('tmp/test_lance', version=2).to_table().to_pandas()

    a
0   5
1  10

In [21]:
lance.dataset('tmp/test_lance', version=3).to_table().to_pandas()

   a
0  1
1  2